
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

body {
  background-color: #1c2333;
  min-height: 100vh; /* Set minimum tinggi body ke tinggi viewport */
  display: flex;
  flex-direction: column; /* Gunakan flexbox untuk menyesuaikan konten */
}

.container {
  flex: 1; /* Konten akan mengisi semua ruang yang tersedia */
}


@font-face {
  font-family: alek;
  src: url('/Buycat.ttf');
}

#header {
  font-family: alek, sans-serif;
}

.judull {
  color: blueviolet;
  text-align: center;
  font-size: xx-large;
}

.judulll {
  color: blueviolet;
  text-align: center;
  font-size: x-large;
}
.navbar {
  background-color: #1c2333; 
  padding: 20px 50px; /* Padding navbar */
}

.navbar-item {
  color: #fff; /* Warna teks navbar */
  font-weight: 500; /* Ketebalan teks navbar */
  margin-right: 20px; /* Jarak antara setiap item navbar */
  text-decoration: none; /* Hapus garis bawah default pada tautan */
}

.navbar-item:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

.navbar-item.active {
  font-weight: bold; /* Contoh: membuat teks lebih tebal untuk item aktif */
  color: blueviolet;
}

